<h2>Task Details</h2>

<h3>Title: <%= @task.title %></h3>
<h3>Details: <%= @task.details %></h3>
<h3>State of completion:<%= @task.completed %></h3>


<%= link_to 'Edit Task', edit_task_path(@task) %>

<%= link_to 'Delete Task', task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to 'Create a new Task',new_task_path %>

<%= link_to 'Back to Task List', root_path %>
